Armazenamento insuficiente … 
A assinatura de armazenamento do Google One foi cancelada porque sua forma de pagamento falhou

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*==============
    HOME PAGE 
===============*/
html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    background: #efeeee;
}
header {
    color: #545454;
    justify-content: space-between;
    display: flex;
    background: #cfcfcf;
    position: fixed;
    top: 0%;
    width: 100%;
}
header h1 {
    text-align: left;
    font-size: 1.5rem;
    margin: 2vw 2vw 2vw 2vw;
}
header nav ul {
    display: flex;
    margin: 0 2vw 0 2vw;
}
header nav ul li {
    margin: 2vw 0.5vw 2vw 0.5vw;
    font-size: 1.3rem;
}
header nav ul li a {
    text-decoration: none;
    color: #545454;
}
/*=================
     HOME MAIN 
==================*/
main section.home {
    color: #a6a6a6;
    text-align: end;
    width: 98vw;
    height: 100vh;
}
main section.home h2{
    font-size: 2rem;
    padding: 20vw 0 1vw 0;
}
main section.home p {
    font-size: 1.2rem;
}
/*=================
  HOME BENEFÍCIOS
==================*/
main section.beneficios {
    width: 96vw;
    height: 96vh;
    display: flex;  
    background: #cfcfcf;
    border-radius: 140px;
    margin: 2vw 2vw 2vw 2vw;
}
main section.beneficios ul h2.titulo {
    font-size: 2rem;
    color: #545454;
    padding: 2vw 0 0 0;
    text-align: center;
}
main section.beneficios ul li h2 {
    font-size: 1.7rem;
    color: #8f8f8f;
    padding: 3vw 0 1vw 0;
}
main section.beneficios ul li p {
    color: #545454;
    font-size: 1.1rem;
}
main section.beneficios ul li {
    margin: 1vw 1vw 1vw 1vw;
}
main section.beneficios ul {
    border-radius: 100px;
    margin: 3vw 4vw 3vw 4vw;
}
main section.beneficios div img {
    height: 96vh;
}
/*=================
  HOME SUGESTÕES
==================*/
main section.sugestoes {
    width: 100vw;
    height: 100vh;
}
main section.sugestoes h2 {
    font-size: 2rem;
    color: #545454;
    padding: 2vw 0 0 0;
    text-align: center;
}
main section.sugestoes p {
    text-align: center;
    padding: 1vw 0 0 0;
    color: #7e7a7a;
    font-size: 1.2rem;
}
/*=================
 HOME QUESTIONÁRIOS
==================*/
main section.questionarios {
    width: 100vw;
    height: 100vh;
}
main section.questionarios h2 {
    color: #545454;
    font-size: 2rem;
    text-align: start;
    padding: 4vw 2vw 2vw 2vw;
}
main section.questionarios ul {
    display: flex;
}
main section.questionarios ul li {
    background:#d6d6d6;
    padding: 3vw 3vw 3vw 3vw;
    margin: 1vw 1vw 1vw 1vw;
    border-radius: 50px;
    height: 60vh;
}
main section.questionarios ul li h3 {
    color: #545454;
    text-align: center;
    font-size: 2rem;
    background-color: #acacaf;
    border-radius: 30px;
    padding: 1vw 1vw 1vw 1vw;
}
main section.questionarios ul li p {
    color: #777272;
    text-align: initial;
    margin: 5vw 0 3vw 0;
    font-size: 1.5rem;
}
main section.questionarios ul li a {
    color: #545454;
    font-size: 1rem;
    background-color: #acacaf;
    border-radius: 30px;
    padding: 1vw 1vw 1vw 1vw;
    text-decoration: none;
    text-align: center;
}
/*=================
    HOME FOOTER
==================*/
footer p {
    color: #545454;
}
